<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-card-header>
      <a id="dashboard" [routerLink]="['dashboard']">
        <mat-icon style="transform: rotate(90deg)">build</mat-icon>
        Konfigurator samochodowy
        <mat-icon>build</mat-icon>
      </a>
    </mat-card-header>
    <div style="width: 100vw;"></div>
      <div *ngIf="currentUser">
        <button mat-button [matMenuTriggerFor]="menu"> <mat-icon>person</mat-icon> {{currentUser.username}} </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
                  [routerLink]="['profile']"
                  [queryParams]="{userId: currentUser.id}">
            <mat-icon>face</mat-icon>
            <span>Mój profil</span>
          </button>
          <button mat-menu-item (click)="logout()" [routerLink]="['logout']" >
            <mat-icon>power_settings_new</mat-icon>
            <span>Wyloguj</span>
          </button>
        </mat-menu>
      </div>
      <div *ngIf="currentUser == null">
        <button  mat-button [routerLink]="['login']" >Zaloguj</button>
      </div>
  </mat-toolbar-row>
</mat-toolbar>

<alert></alert>
<div class="body-wrapper">
<router-outlet></router-outlet>
</div>
