<div *ngIf="!newCars || !usedCars; then Loading else Display"></div>
<ng-template #Loading><mat-spinner class="align-content-center"></mat-spinner></ng-template>
<ng-template #Display>
  <mat-tab-group mat-align-tabs="center" style="margin: 0 100px;">
    <mat-tab label="NOWE">
      <p class="pick-header"> Wybierz samochód </p>
      <div class="card-container">
        <mat-card *ngFor="let car of newCars" (click)="pickCar(car.id)">
          <mat-card-header style="text-align: center">
            <mat-card-title>
              {{car.brand}}
            </mat-card-title>
            <mat-card-subtitle> {{car.model}} </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="car.imageFolder +'/' + car.brand.toLowerCase() + '_' + car.model.toLowerCase() + '_small.webp'" alt="Avatar">
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="OUTLET" style="min-width: 384px;">
      <p class="pick-header"> Wybierz samochód </p>
      <div class="card-container">
        <mat-card *ngFor="let car of usedCars" (click)="pickCar(car.id)">
          <mat-card-header style="text-align: center">
            <mat-card-title>
              {{car.brand}}
            </mat-card-title>
            <mat-card-subtitle> {{car.model}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="car.imageFolder +'/' + car.brand.toLowerCase() + '_' + car.model.toLowerCase() + '_small.webp'" alt="Avatar">
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>
