.border-light{
  border: 1px solid rgba(255,255,255,0.1);
}

.user-icon-64{
  height: 64px;
  width: 64px;
  font-size: 64px;
  line-height: 0.8;
}

#a-goto-preview{
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}
